// In radial gradients added transparent and color stops changed
// for same displaying in rectangle with border-radius: 50%
$backgrounds-dark: (
    radial-gradient(49.84% 49.84% at 49.84% 50.16%, transparent 70%, rgba(255, 163, 0, 0.8) 71%, rgba(255, 163, 0, 0.8) 71.28%, rgba(91, 58, 0, 0.8) 100%),
    radial-gradient(49.84% 49.84% at 49.84% 50.16%, transparent 70%, rgba(255, 163, 0, 0.5) 71%, rgba(99, 63, 0, 0.5) 78.92%, rgba(0, 0, 0, 0.5) 100%),
    radial-gradient(49.84% 49.84% at 49.84% 50.16%, transparent 70%, rgba(255, 255, 255, 0.5) 70.1%, rgba(255, 255, 255, 0.38) 71.3%, rgba(185, 185, 185, 0.52) 71.4%, rgba(150, 150, 150, 0.5) 76%, rgba(56, 41, 0, 0.4) 100%),
    radial-gradient(49.84% 49.84% at 49.84% 50.16%, transparent 70%, rgba(255, 255, 255, 0.5) 70.1%, rgba(255, 255, 255, 0.15) 71.7%, rgba(66, 66, 66, 0.5) 71.8%, rgba(56, 41, 0, 0.5) 100%),
);

$backgrounds-light: (
    radial-gradient(49.84% 49.84% at 49.84% 50.16%, transparent 70%, rgba(255, 184, 0, 0.66) 71%, rgba(255, 184, 0, 0.56) 81.25%, rgba(255, 239, 153, 0.32) 95%),
    radial-gradient(49.84% 49.84% at 49.84% 50.16%, transparent 70%, rgba(255, 184, 0, 0.24) 71%, rgba(255, 184, 0, 0.24) 81.25%, rgba(255, 239, 153, 0.12) 100%),
    radial-gradient(49.84% 49.84% at 49.84% 50.16%, transparent 70%, rgba(166, 166, 166, 0.2725) 71%, rgba(166, 166, 166, 0.1725) 82.81%, rgba(203, 203, 203, 0.05) 92.19%),
    radial-gradient(49.84% 49.84% at 49.84% 50.16%, transparent 70%, rgba(191, 191, 191, 0.7) 71%, rgba(191, 191, 191, 0.345) 82.81%, rgba(228, 228, 228, 0.1) 92.19%),
);

$shadow-dark-1: inset 0 -0.4491vh 0 rgba(255, 255, 255, 0.2), inset 32.18562vh 19.9101vh 0 rgb(26, 23, 0), inset 33.73233vh 18.41317vh 0 rgb(26, 23, 0), inset 17.81437vh -3.443113vh 0 rgb(26, 23, 0), inset 1.9461vh 10.47904vh 0 rgb(26, 23, 0), inset 3.443113vh 13.47305vh 1.646706vh 1.646706vh rgba(255, 162, 0, 0.3), inset 2.99401vh -2.3952vh 2.99401vh 0 rgba(255, 162, 0, 0.3), 0 0 2.99401vh -1.1976vh rgba(248, 158, 0, 0.2), inset -0.2994vh 0.1497vh 0.3vh rgba(255, 255, 255, 0.3), inset 0 0 2.99401vh rgba(255, 162, 0, 0.9), inset 31.43712vh 2.99401vh 2.99401vh rgba(255, 162, 0, 0.9), inset 24.9999vh 24.7005vh 2.99401vh rgba(255, 162, 0, 0.9);
$shadow-dark-2: inset 32.18562vh 19.9101vh 0 rgb(26, 23, 0), inset 32.48502vh 19.01197vh 0 rgb(26, 23, 0), inset 12.125748vh -3.14371vh 0 rgb(26, 23, 0), inset 1.9461vh 10.47904vh 0 rgb(26, 23, 0), inset 31.586826vh 5.38922vh 2.3952vh 1.2473vh rgba(255, 163, 0, 0.35), inset 18.5628vh 25.2994vh 2.99401vh 1.497vh rgba(255, 163, 0, 0.25), 0 0 2.99401vh -1.1976vh rgba(147, 93, 0, 0.2), inset -0.2994vh -0.2994vh 0.1497vh rgba(255, 255, 255, 0.4), inset 0 0 5.98802vh rgb(255, 163, 0);
$shadow-dark-3: inset 7.335329vh 4.49101vh 0 rgb(26, 23, 0), inset 1.9461vh 10.47904vh 0 rgb(26, 23, 0), 0 0 2.99401vh -1.1976vh rgba(0, 0, 0, 0.2), inset -0.1497vh 0.1497vh 0.85vh rgba(255, 255, 255, 0.6), inset 2.8443vh 15.2694vh 2.99401vh rgba(255, 255, 255, 0.1), inset 8.68263vh 3.443113vh 2.99401vh rgba(255, 255, 255, 0.2), inset 16vh 24.8502vh 2.99401vh 0.45vh rgba(255, 255, 255, 0.14), inset -0.7485vh -0.7485vh 2.99401vh rgba(139, 139, 139, 0.5), inset 0 0 2.99401vh rgba(139, 139, 139, 0.9);
$shadow-dark-4: inset 12.42514vh 22.30538vh 0 rgb(26, 23, 0), inset 0 0 2.99401vh -1.1976vh rgba(96, 96, 96, 0.2), inset 0.09vh 0 0.4vh rgba(255, 255, 255, 0.6), inset 0 0 2.99401vh rgba(38, 38, 38, 0.9);

$shadows-dark: (
    $shadow-dark-1,
    $shadow-dark-2,
    $shadow-dark-3,
    $shadow-dark-4,
);

$shadow-light-1: inset -0.1497vh 0.1497vh 0.1497vh rgba(255, 255, 255, 0.5), inset 0 0 2.99401vh rgba(255, 176, 57, 0.3);
$shadow-light-2: inset -0.1497vh 0.1497vh 0.1497vh rgba(255, 255, 255, 0.5), inset 0 0 2.99401vh rgba(255, 176, 57, 0.3);
$shadow-light-3: inset -0.1497vh 0.1497vh 0.1497vh rgba(255, 255, 255, 0.5), inset 0 0 2.99401vh rgba(105, 105, 105, 0.2);
$shadow-light-4: inset -0.1497vh 0.1497vh 0.1497vh rgba(255, 255, 255, 0.5), inset 0 0 2.99401vh rgba(131, 131, 131, 0.6);

$shadows-light: (
    $shadow-light-1,
    $shadow-light-2,
    $shadow-light-3,
    $shadow-light-4,
);

@for $i from 1 through 4 {
    .diagram-block__item_color_#{$i} {
        background: nth($backgrounds-dark, $i);
        box-shadow: nth($shadows-dark, $i);

        @media (min-aspect-ratio: 1 / 1) {
            @if ($i == 1) {
                box-shadow: inset 3.443113vw 11.67664vw 1.6467065vw 1.6467065vw rgba(255, 162, 0, 0.3), inset 2.99401vw -2.395209vw 2.99401vw 0 rgba(255, 162, 0, 0.3), 0 0 2.99401vw -1.1976047vw rgba(248, 158, 0, 0.2), inset -0.1497vw 0 0.1497vw rgba(255, 255, 255, 0.5), inset 0 0 2.99401vw rgba(255, 162, 0, 0.9);
            }
            @else if ($i == 2) {
                background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, transparent 70%, rgba(255, 163, 0, 0.5) 73%, rgba(29, 18, 0, 0.5) 81.92%, rgba(15, 9, 0, 0.5) 100%),;
                box-shadow: inset 12.87425vw 17.065868vw 2.99401vw 2.5449101vw rgba(255, 163, 0, 0.25), inset 24.40119vw 5.83832vw 2.245508vw 0.8982035vw rgba(255, 163, 0, 0.25), 0 0 2.99401vw -1.197604vw rgba(147, 93, 0, 0.2), inset -0.1497vw 0.1497vw 0.1497vw rgba(255, 255, 255, 0.5), inset 0 0 4.4910179vw rgb(255, 163, 0);
            }
            @else if ($i == 3) {
                box-shadow: 0 0 2.99401vw -1.1976047vw rgba(0, 0, 0, 0.2), inset -0.1497vw 0.1497vw 0.1497vw rgba(255, 255, 255, 0.5), inset -0.748502vw -0.748502vw 2.99401vw rgba(139, 139, 139, 0.5), inset 0 0 2.99401vw rgba(139, 139, 139, 0.9);
            }
            @else if ($i == 4) {
                box-shadow: 0 0 2.99401vw -1.1976047vw rgba(96, 96, 96, 0.2), inset 0 0 2.99401vw rgba(38, 38, 38, 0.9);
            }

            @media (max-width: 568px), (max-height: 375px) {
                @if ($i == 1) {
                    box-shadow: 0 0 20px -8px rgba(248, 158, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0 0 20px rgba(255, 162, 0, 0.9);
                }
                @else if ($i == 2) {
                    box-shadow: 0 0 20px -8px rgba(147, 93, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0 0 20px rgba(202, 129, 0, 0.9);
                }
            }
        }
    }

    body.theme_light .diagram-block__item_color_#{$i} {
        background: nth($backgrounds-light, $i);
        box-shadow: nth($shadows-light, $i);
    }
}
