.diagram-block__body {
    width: min(calc(100vw - 3rem), 49.101796407vh);
    height: min(calc(100vw - 3rem), 49.101796407vh);
    transform: rotate(-119.2deg);
    position: relative;
    mask-image: url('../assets/svg/mask.svg');

    @media (min-aspect-ratio: 1 / 1) {
        width: min(35.92814371vw, 65vh);
        height: min(35.92814371vw, 65vh);
    }
}

body.theme_light .diagram-block__body {
    mask-image: none;
}
