@for $i from 1 through 5 {
    .leader-board__bar_height_#{$i} {
        height: 14vh + $i * 7vh;

        @media (min-aspect-ratio: 1 / 1) {
            height: 18vh + (ceil($number: $i / 2) - 1) * 5vh;
        }

        @media (min-aspect-ratio: 16 / 9) and (min-width: 1366px) {
            height: 21vh + (ceil($number: $i / 2) - 1) * 7vh;
        }
    }
}
