.diagram-categories-item__difference-item {
    font: var(--body-font);
    color: var(--body-font-secondary-color);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
