.diagram-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49.1017964vh;
    width: calc(100vw - 3rem);
    padding: 0 1.5rem;
    overflow: hidden;
    position: relative;

    @media (min-aspect-ratio: 1 / 1) {
        height: auto;
        width: 35.92814371vw;
        padding: 0;
        max-width: 65vh;
        min-height: 63.8297872vh;
    }
}
