.chart-block {
    height: 64vh;
    overflow-x: hidden;
    justify-content: flex-end;
    display: flex;
    flex-flow: row nowrap;

    @media (min-aspect-ratio: 1 / 1) {
        padding: 2rem 3.5rem 0;
        height: 45vh;
        justify-content: center;
    }
}
