.chart-block {
    height: 64vh;
    overflow-x: hidden;
    justify-content: flex-end;
    display: flex;
    flex-flow: row nowrap;

    @media (min-aspect-ratio: 1 / 1) {
        height: 49.4680851vh;
        justify-content: center;
        min-width: 70vw;
    }
}
