.voting-area__slider {
    transform: rotate(180deg);
    width: 17.0212765vw;
    color: var(--white);
    transition: color 0.15s ease-in-out;
    display: flex;
    cursor: pointer;

    @media (min-aspect-ratio: 1 / 1) {
        width: 9.58083832vw;
        display: none;
    }
}

.voting-area__slider:hover,
.voting-area__slider:active {
    color: var(--grey);
}

body.theme_light .voting-area__slider {
    color: var(--yellow);
}

body.theme_light .voting-area__slider:hover,
body.theme_light .voting-area__slider:active {
    color: var(--grey-light);
}
