.leader-board {
    padding: 1.5rem 2rem 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @media (min-aspect-ratio: 1 / 1) {
        padding: 1.5rem 8vw 0;
    }

    @media (min-aspect-ratio: 16 / 9) and (min-width: 1366px) {
        padding: 1.5rem 12vw 0;
    }
}
