@for $i from 1 through 8 {
    .voting-area__card-item.voting-area__card-item_position_#{$i} {
        grid-area: card#{$i};

        @if ($i >= 7) {
            @media (min-aspect-ratio: 1 / 1) {
                grid-area: unset;
                display: none;
            }
        }
    }
}
