.leader-board__wrapper.leader-board__wrapper_to-vis-align_start {
    padding-right: 1rem;
}

.leader-board__wrapper.leader-board__wrapper_to-vis-align_center {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.leader-board__wrapper.leader-board__wrapper_to-vis-align_end {
    padding-left: 1rem;
}
