.diagram-block__description-title {
    font: var(--headline);
    color: var(--headline-color);
    text-align: center;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (min-aspect-ratio: 1 / 1) and (max-width: 768px) {
        font: var(--subhead);
    }
}
