.leader-board {
    padding: 1.5rem 2rem 0;
    display: flex;
    align-items: flex-end;
}

.leader-board__item {
    margin: 0 -0.5rem;
    flex: 1 0 auto;
}

@for $i from 1 through 5 {
    .leader-board__item_order_#{$i} {
        order: $i;
    }
}

@for $i from 1 through 2 {
    .leader-board__item_z-index_#{$i} {
        z-index: $i;
    }
}

.leader-board__item_additional {
    display: none;
}

.leader-board__bar {
    background: var(--bar-radial-secondary);
    box-shadow: var(--bar-radial-secondary-shadow);
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.leader-board__bar_primary {
    background: var(--bar-radial-primary);
    box-shadow: var(--bar-radial-primary-shadow);
}

@for $i from 1 through 5 {
    .leader-board__bar_height_#{$i} {
        height: 3rem + $i * 3rem;
    }
}

.leader-board__wrapper_to-vis-align_start {
    padding-right: 1rem;
}

.leader-board__wrapper_to-vis-align_center {
    padding: 0 0.5rem;
}

.leader-board__wrapper_to-vis-align_end {
    padding-left: 1rem;
}

.leader-board__score {
    font: var(--headline);
    color: var(--headline-color);
    position: absolute;
    padding-top: 1.125rem;
}

// TODO horizontal
// TODO name characters excess
