.people-card {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 0.375rem;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 0 1rem;
    max-width: 6.5rem;
    margin: auto;
    position: relative;
}

.people-card__img-wrapper {
    width: 62.5%;
    border-radius: 50%;
    overflow: hidden;
}

.people-card__img {
    filter: grayscale(1);
    width: 100%;
}

.people-card__body {
    font: var(--body-font);
    color: var(--body-font-primary-color);
    padding: 0.375rem 0.25rem 0;
    margin: 0;
    text-align: center;
}

.people-card__caption {
    font: var(--caption);
    color: var(--caption-primary-color);
    padding: 0.25rem 0.25rem 0;
    margin: 0;
}

.people-card__emoji {
    font: var(--headline);
    font-size: 2rem;
    position: absolute;
    bottom: calc(100% - 1.875rem);
    // TODO check apple emoji
}

body.theme_light {
    .people-card__img {
        filter: unset;
    }
}