.people-card {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 0.375rem;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 0 1rem;
    width: 27vw;
    min-width: 88px;

    @media (min-aspect-ratio: 1 / 1) {
        width: 15vw;
    }
}
