@import "fonts";
@import "vars";

@import "slides/leaders";
@import "slides/vote";
@import "slides/chart";
@import "slides/diagram";
@import "slides/activity";

:root {
    box-sizing: border-box;
    // adaptation below
    font-size: 2em;
}

body {
    background: radial-gradient(70.24% 70.24% at 49.87% 29.76%, rgba(18, 12, 1, 0.9) 0%, #000 100%);
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
    text-size-adjust: none;
}

body.theme_light {
    background: #fff;
}

@media (max-width: 1919px) {
    :root {
        font-size: 1.5em;
    }
}

@media (max-width: 767px) {
    :root {
        font-size: 1em;
    }
}

@media (max-width: 320px), (max-height: 320px) {
    :root {
        font-size: 0.85em;
    }
}
