@import "fonts";
@import "vars";

@import "leaders";

:root {
    box-sizing: border-box;
    // font-size adaptation below
    font-size: 1em;
}

body {
    background: radial-gradient(70.24% 70.24% at 49.87% 29.76%, rgba(18, 12, 1, 0.9) 0%, #000000 100%);
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
}

body.theme_light {
    background: #FFFFFF;
}

.slide {
    min-height: 100vh;
    min-width: 100%;
}

@media screen and (max-width: 320px) {
    :root {
        font-size: 0.85em;
    }
}